<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127367560425-o17n19irp3ok9uo86obhjb0qpoq7i71t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127367560425-o17n19irp3ok9uo86obhjb0qpoq7i71t</string>
	<key>API_KEY</key>
	<string>AIzaSyAs29EHj4S4qQsTVxSWK8fdlatvXlKDV9g</string>
	<key>GCM_SENDER_ID</key>
	<string>127367560425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignmentApp</string>
	<key>PROJECT_ID</key>
	<string>assignment-app-a95e3</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment-app-a95e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127367560425:ios:80dcd8f43ab261e4f54478</string>
</dict>
</plist>